/*
 * This stylesheet contains styling for extensions.
 *
 *
 *
 */

// Move this one somewhere more appropriate:
a>i {
	@extend .glyph;
	@extend .glyph.general;
	cursor: pointer;
	font-style: normal;
}

// Move this one somewhere more appropriate:
.add:after {
	@extend .glyph;
	@extend .glyph.general;
	@include font-size(10);
	color: darken($mainColor, 2);
	content: "d";
	margin-left: 10px;
}

// Move this one somewhere more appropriate:
.dismiss {
	display: block;
	text-align: right;
	a {
		color: inherit;
		font-weight: 600;
	}
	i {
		@include border-radius(3px);
		@include font-size(10);
		background: $mainColor;
		color: $white;
		margin: 0 5px 0;
		padding: 2px 8px 7px;
	}
}


nav[role="navigation"] {
	ul a.button {
		@extend .round;
		background-color: $secondaryColor;
		display: block;
		margin: 0 (0.75*($navBarHeight));
		padding-left: 0.25*($navBarHeight);
		padding-right: 0.25*($navBarHeight);
		&:hover {
		}
	}
	:target li:last-child {
		padding-bottom: 0.25*($navBarHeight);
	}
}

[role="main"] {
	table.grid {
		width: 100%;
		thead {
			th {
				vertical-align: top;
				span {
					display: block;
				}
				input {
					&[type="text"] {
						width: 10em;
					}
					&[type="number"] {
						width: 3em;
					}
				}
			}
			tr#batch-actions {
				th {
					background: darken($borderColor, 20);
					text-align: right;
					>div,
					.dismiss {
						display: none;
					}
					div {
						text-align: left;
					}
				}
				&:target {
					th {
						>div,
						.dismiss {
							display: block;
						}
					}
				}

			}
		}
	}

	// Table Configuration
	dl#table_config {
		margin: 0;
		text-align: right;
		width: 100%;
		dt {
			i {
				@include border-top-radius(3px);
				background: $borderColor;
				color: $txtColor;
				display: inline-block;
				padding: 6px 10px 14px;
				&+span {
					display: none;
				}
			}
		}
		dd {
			display: none;

			@include border-top-radius(3px);
			@include border-right-radius(0);

			@include transition();

			background: $borderColor;
			margin: 0 0 2px;
			padding: 0.5*$navBarHeight;
			position: relative;
			text-align: left;
		}
		&:target {
			dt {
				margin-bottom: -2px;
			}
			dd {
				display: block;
			}
			&+table {
				@include border-top-radius(0);
			}
		}
		&+table {
			@include border-top-radius(0);
			@include border-left-radius(3px);
		}
	}
}