header[role="header"] {

	background: $brown;
	border-bottom: 1px solid darken($brown, 6);
	color: $offwhite;

	>div {
		height: $headerHeight;
		width: 100%;

		&:before {
			@include font-size(28);
			@extend .icon;
			@extend .icon.molajo;
			color: $white;
			line-height: $headerHeight + 2px;
			padding-left: 8px;
		}
	}

	h1 {
		@include font-size(18);
		// @extend .columns;
		// @extend .six;
		left: $headerHeight + 2px;
		line-height: $headerHeight;
		position: absolute;
		margin: 0;
		text-transform: lowercase;
		top: 0;
	}
	form[role="search"] {
		fieldset {
			display: inline;
			padding: 8px 0 0;
			border: 0;
		}
		input[type="search"] {
			background: $offwhite;
		}
	}
	nav {
		float: right;
		height: $headerHeight;
		.settings {
			border-left: 1px solid rgba(0,0,0,.3);
			dt {
				border-left: 1px solid rgba(255,255,255,.3);
				border-right: 1px solid rgba(0,0,0,.3);
				display: inline-block;
				vertical-align: middle;
				a {
					display: inline-block;
					color: inherit;
					height: $headerHeight;
					line-height: $headerHeight;
					min-width: $headerHeight;
					text-align: center;
					vertical-align: middle;
					>i {
						display: inline-block;
						font-style: normal;
						height: inherit;
						width: inherit;
						@extend .glyph.general;
					}
					>span {
						display: none;
						float: right;
					}

				}
				&.user {
					a {
						padding: 0;
						>img {
							height: $headerHeight;
							width: $headerHeight;
						}
						>span {
							padding: 0 10px;
						}
					}
				}
				&.panel {
				}
				&.search {
				}
				&.last {
					border-right: 0;
				}
			}
			dd {
				display: none;
			}
		}
	}
}
@media only screen and (min-width: $screenSmall) {
	header[role="header"] {
		nav {
			dt {
				&.user {
					a {
						>span {
							display: inline;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: $screenSmall - 1) {
	header[role="header"] {
		display: block;
		h1 {
			display: none;
		}
	}
}