// Force menu over full height
[role="header"]+div {
	box-sizing: border-box;
	height: 100%;
	padding-top: $headerHeight;
	margin-top: - $headerHeight;
}
nav[role="navigation"] {

	@include single-box-shadow(rgba(0,0,0,.4), -2px, 1px, 2px, 0, true);
	// @include border-left-radius(5px);
	// @include border-top-radius(0);

	@extend .column;
	@extend .three;

	@include transition();

	background: $teal;
	color: $white;
	height: 100%;
	padding: 0;

	&:before {
		margin-top: $headerHeight;
	}

	>dl>dd>ul>li>ul {
		display: none;
	}
	dl {
		dt, li {
			border-bottom: 1px solid rgba(0,0,0,.3);
			border-top: 1px solid rgba(255,255,255,.3);
		}
		dt {
			position: relative;
			&:first-child {
				border-top: 0;
			}
			&.current {
				>div {
					position: absolute;
					@include cssTriangle(11px, rgba(0,0,0,.3), top);
					left: 9px;
					&:last-child {
						position: absolute;
						@include cssTriangle(10px, $teal, top);
						left: 10px;
					}
				}
			}
			i {
				@include font-size(18);
				display: inline-block;
				width: 26px;
				font-style: normal;
				margin-right: 8px;
				text-align: center;
				&:before {
					@extend .glyph.general;
					@include text-shadow(-1px, -1px, 1px, 0, $black);
				}
			}
		}
		a {
			@include transition();
			color: $white;
			display: block;
			padding: 7px 8px;
			// text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10);
			// single-text-shadow($hoff, $voff, $blur, $spread, $color)
			span {
				@include text-shadow(rgba($black, 0.2) 1px 1px 0);
			}
		}
		#build i:before {
			content: "k";
		}
		#resources i:before {
			content: "j";
		}
		dd {
			background: darken($teal, 4);
				@include single-box-shadow(rgba(0,0,0,.4), -2px, 0, 2px, 0, true);

			ul {
				list-style-type: none;
				margin-bottom: 0;
				a {
					padding-left: 42px;
					&:hover {
						background: rgba(0,0,0,.2);
					}
				}
			}
		}
	}
}

[role="main"] {

	@extend .column;
	@extend .fifteen;

	@include transition();
}



#expand:target {
	nav[role="navigation"] {
		@extend .one;
		dt>a>span,
		dt>div,
		dd>ul { display: none; }
		&:hover {

			@extend .three;

			+[role="main"] { @extend .fifteen; }

			dt>a>span { display: inline; }
			dt>div,
			dd>ul { display: block; }
		}
	}
	[role="main"] {
		@extend .seventeen;
	}
	#expander {
		display: none;
	}
}
