// Force menu over full height
@media only screen and (min-width: $screenSmall) {
	[role="header"]+div {
		height: 100%;
		padding-top: $headerHeight + 1px;
		margin-top: -($headerHeight + 1px);
		nav[role="navigation"] {
			@include single-box-shadow(rgba(0,0,0,.4), -2px, 1px, 2px, 0, true);
			&:before {
				margin-top: $headerHeight;
			}
			dl dd {
				background: darken($teal, 4);
				@include single-box-shadow(rgba(0,0,0,.4), -2px, 0, 2px, 0, true);
			}
		}
	}
}
nav[role="navigation"] {

	// @include border-left-radius(5px);
	// @include border-top-radius(0);

	@extend .column;
	@extend .three;

	@include transition-property(width);
	@include transition();

	background: $teal;
	color: $white;
	height: 100%;
	padding: 0;
	overflow: hidden;

	a {
		position: relative;
		&+span {
			@include cssTriangle(11px, darken($teal, 6), top);
			@include transition-property(color);
			@include transition();
			display: none;
			left: 9px;
			position: absolute;
			z-index: 10;
			>span {
				@include cssTriangle(10px, darken($teal, 0), top);
				@include transition-property(color);
				@include transition();
				left: -10px;
				position: absolute;
				top: -12px;
			}
		}
		&:hover {
			background: darken($teal, 6);
			&+span {
				>span {
					border-top-color: darken($teal, 6);
				}
			}
		}
	}
	
	ul,
	dl { margin: 0;}
	i {
		@extend .glyph;
		@extend .glyph.general;
		@include font-size(18);
		@include text-shadow(-1px, -1px, 1px, 0, $black);
		display: inline-block;
		font-style: normal;
		width: 26px;
		margin-right: 8px;
		text-align: center;
		&:before {
			content: attr(data-icon);
		}
	}

	ul { list-style-type: none; }

	.level-one,
	.level-two,
	.level-three {
		position: relative;
		dt, li {
			position: relative;
		}
	}

	.level-one ul a {
		padding-left: 42px;
	}

	.level-one, 
	.level-two {
		a {
			border-bottom: 1px solid rgba(0,0,0,.3);
			border-top: 1px solid rgba(255,255,255,.3);
			white-space: nowrap;
		}
	}

	.level-one {
		>dt:first-child a,
		>li:first-child a { border-top: 0; }
		>:target {
			>a+span { display: block; }
			&:hover {
				>a+span {
					border-top-color: darken($teal, 8);
					>span {
						border-top-color: darken($teal, 6);
					}
				}
			}
		}
	}

	.level-two,
	.level-three {
		@include transition();
		background: darken($teal, 4);
		// display: none;
		margin-bottom: 0;
		a+span {
			top: 0;
			>span {
				border-top-color: darken($teal, 4);
			}
		}
		&:target {
			display: block;
			a+span {
				display: block;
			}
		}
		:hover+:target li a+span {
				border-top-color: darken($teal, 8);
			>span {
				border-top-color: darken($teal, 6);
			}
		}
	}
	.level-three {
		display: none;
		a { border: 0; }
	}
	a {
		@include transition-property(width, color);
		@include transition();
		color: $white;
		display: block;
		padding: 7px 8px;
		// text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10);
		// single-text-shadow($hoff, $voff, $blur, $spread, $color)
		span {
			@include text-shadow(rgba($black, 0.2) 1px 1px 0);
		}
	}
}

[role="main"] {

	@extend .column;
	@extend .fifteen;

	@include transition-property(width);
	@include transition();
}



#expand:target {
	nav[role="navigation"] {
		@extend .one;
		a>span { display: none; }
		&:hover {

			@extend .three;

			+[role="main"] { @extend .fifteen; }

			a>span { display: inline-block; }
			:target { display: block; }
		}
	}
	[role="main"] {
		@extend .seventeen;
	}
	#expander {
		display: none;
	}
}


.debug {
	#resources {
		display: block;
	}
}

/* CSS3 Enhancements */
@media only screen  {
}