// Force menu over full height
@media only screen and (min-width: $screenSmall) {
	[role="header"]+div {
		height: 100%;
		padding-top: $headerHeight + 1px;
		margin-top: - ($headerHeight + 1px);
		nav[role="navigation"] {
			@include single-box-shadow(rgba(0,0,0,.4), -2px, 1px, 2px, 0, true);
			&:before {
				margin-top: $headerHeight;
			}
			dl dd {
				background: darken($teal, 4);
				@include single-box-shadow(rgba(0,0,0,.4), -2px, 0, 2px, 0, true);
			}
		}
	}
}
nav[role="navigation"] {

	// @include border-left-radius(5px);
	// @include border-top-radius(0);

	@extend .column;
	@extend .three;

	@include transition-property(width);
	@include transition();

	background: $teal;
	color: $white;
	height: 100%;
	padding: 0;
	overflow: hidden;

	>ul { @extend .level-one; margin: 0;}
	>ul>li>ul { @extend .level-two; }
	>ul>li>ul>li>ul { @extend .level-three; }
	i {
		@extend .glyph;
		@extend .glyph.general;
		@include font-size(18);
		@include text-shadow(-1px, -1px, 1px, 0, $black);
		display: inline-block;
		font-style: normal;
		width: 26px;
		margin-right: 8px;
		text-align: center;
		&:before {
			content: attr(data-icon);
		}
	}

	ul { list-style-type: none; }

	.level-two,
	.level-three {
		@include transition();
		background: darken($teal, 4);
		display: none;
		margin-bottom: 0;
		&:target {
			display: block;
		}
		&:hover {
			display: block;
		}
		a {
			padding-left: 42px;
			&:hover {
				background: rgba(0,0,0,.2);
			}
		}
		li:active {
			&:hover {
				.level-two,
				.level-three {
					display: block;
				}
			}
		}
	}
	.level-one, 
	.level-two {
		>li>a {
			border-bottom: 1px solid rgba(0,0,0,.3);
			border-top: 1px solid rgba(255,255,255,.3);
		}
		li>a:hover+span+ul:target>li>a+span {
			@include cssTriangle(10px, darken($teal, 9), top);
			>span {
				@include cssTriangle(10px, darken($teal, 7.5), top);
			}
		}
	}
	.level-one {
		>li {
			position: relative;
			white-space: nowrap;
			&:first-child {
				border-top: 0;
			}
		}
	}
	.level-three {}

	.level-two.current,
	.level-two:target,
	.level-three:target {
		position: relative;
		a>span{
			font-weight: 500;
		}
		a+span {
			@include cssTriangle(11px, darken($teal, 6), top);
			@include transition-property(color);
			@include transition();
			display: block;
			left: 9px;
			position: absolute;
			top: -1px;
			z-index: 10;
			>span {
				@include transition-property(color);
				@include transition();
				left: -10px;
				position: absolute;
			}
		}
	}
	.level-two:target {
		a+span>span {
			@include cssTriangle(10px, $teal, top);
			top: -11px;
		}
	}
	.level-three:target {
		a+span>span {
			@include cssTriangle(10px, darken($teal, 4), top);
			top: -12px;
		}
	}
	a {
		@include transition-property(width, color);
		@include transition();
		color: $white;
		display: block;
		padding: 7px 8px;
		// text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10);
		// single-text-shadow($hoff, $voff, $blur, $spread, $color)
		span {
			@include text-shadow(rgba($black, 0.2) 1px 1px 0);
		}
	}
}

[role="main"] {

	@extend .column;
	@extend .fifteen;

	@include transition-property(width);
	@include transition();
}



#expand:target {
	nav[role="navigation"] {
		@extend .one;
		dt>a>span,
		dt>div,
		dd>ul { display: none; }
		&:hover {

			@extend .three;

			+[role="main"] { @extend .fifteen; }

			dt>a>span { display: inline; }
			dt>div,
			dd>ul { display: block; }
		}
	}
	[role="main"] {
		@extend .seventeen;
	}
	#expander {
		display: none;
	}
}


.debug {
	#resources {
		display: block;
	}
}

/* CSS3 Enhancements */
@media only screen  {
}